* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif, sans-serif;
}

.header-container {
    padding: 0 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-weight: 800;
}

/* main */


main {
    padding: 24px;
}

.search-filter-container {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.search-container {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    padding-left: 16px;
    border-radius: 4px;
    color: #999;
    margin-top: 16px;
    margin-bottom: 48px;

}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    max-width: 350px;
    width: 100%;
    padding: 16px;
}

.search-container input::placeholder {
    color: #999;

}

.filter-by-region {
    margin-top: 16px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    padding: 0 16px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 48px;
    border-radius: 4px;
}



.countries-container {
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
    margin-inline: auto;
}


a {
    text-decoration-line: none;
    color: inherit;
}


.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;

}

.country-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.country-card img {
    width: 100%;
}

.card-text {
    padding: 0 16px;
}

.card-title {
    font-size: 24px;
    margin: 16px 0;
}

.card-title p {
    margin-block: 8px;
}


@media (max-width:768px) {
    .countries-container {
        justify-content: center;
    }

    .title {
        font-size: 16px;
    }

    .header-content p {
        font-size: 12px;
    }

    .search-container input {
        max-width: 230px;
    }

    .search-container {
        margin-bottom: 0;
    }

    .search-filter-container {
        flex-direction: column;
        gap: 0;
    }

    .filter-by-region {
        max-width: 200px;
        width: 100%;
    }
}