* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;

    margin: 0;
    font-family: "Nunito", sans-serif, sans-serif;

    background-color: var(--background-color);
    color: var(--text-color);

}


body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

.header-container {
    padding: 0 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--elements-color);
    background: transparent;
    width: 100%;
    position: fixed;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-weight: 800;
}

.header-content p {
    cursor: pointer;
}

/* main */


main {
    padding: 24px;
}

.search-filter-container {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-top: 64px;

}

.search-container {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    padding-left: 16px;
    border-radius: 4px;
    color: #999;
    margin-top: 16px;
    margin-bottom: 48px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #ddd;


}

.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    max-width: 350px;
    width: 100%;
    padding: 16px;
    background-color: inherit;
    color: inherit;
}

.search-container input::placeholder {
    color: #999;

}

.filter-by-region {
    margin-top: 16px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    padding: 0 16px;
    height: 50px;
    /* border: none; */
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 48px;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
}



.countries-container {
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
    margin-inline: auto;
}


a {
    text-decoration-line: none;
    color: inherit;
}


.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);


}

.country-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.country-card img {
    width: 100%;
}

.card-text {
    padding: 0 16px;
}

.card-title {
    font-size: 24px;
    margin: 16px 0;
}

.card-title p {
    margin-block: 8px;
}

.btp {
    height: 20px;
    width: 100%;
    text-align: end;
    position: fixed;
    bottom: 20px;
    right: 8px;
    font-size: 20px;
    z-index: 2;
    color: red;
}





@media (max-width:768px) {
    .header-content p {
        margin-bottom: 8px;
    }
    .countries-container {
        justify-content: center;
    }

    .title {
        font-size: 16px;
    }

    .header-content p {
        font-size: 12px;
    }

    .search-container input {
        max-width: 230px;
    }

    .search-container {
        margin-bottom: 0;
    }

    .search-filter-container {
        flex-direction: column;
        gap: 0;
    }

    .filter-by-region {
        max-width: 200px;
        width: 100%;
    }

    .btp {
        height: 20px;
        width: 100%;
        text-align: end;
        position: fixed;
        bottom: 20px;
        right: 8px;
        font-size: 20px;
        z-index: 2;
        color: red;
    }
}

@media(max-width:400px){
    .header-content h2 a{
        font-size: 16px;
    }
}